{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}
{% block content %}
<div class="container">
    {% for product in product_list %}
    <div class="card">
        <div class="card_img">
            <img src="{{product.pic}}" alt="image not found">
        </div>
        <div class="card_text">
            <h4>{{product.name}}</h4>
            <h6>Price : <ins>{{product.price}}</ins></h6>
            <h6>Stock : <ins>{{product.stock}}</ins></h6>
            <p> Description :
                <br><ins>{{product.desc}}</ins>
            </p>
            <button type="button">Add to cart</button>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}